html, body {
    margin: 0px;
    padding: 0px;
}

#chatbox {
    z-index: 0;
    height: 100%;
    width: 100%;
    font-size: 0.2vw;
    text-align: center;
}
#chat_area {
    top: 20px;
    z-index: 1;
    width: 100%;
    font-size: 3.5vw;
    text-align: center;
}
